<a href="https://colab.research.google.com/github/dhar9571/python_revision/blob/main/python_revision.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Strings - 5

Strings are used in Python to record text information, such as names. It could either be a word, a phrase, a sentence, a paragraph or an entire encyclopedia.

Strings are immutable which means once assigned, the elements of a strings cannot be changed

In [ ]:
# Single word
my_first_string= 'algebra'
my_first_string

'algebra'

In [ ]:
# Entire phrase
phrase = 'Statistics sits at the heart of machine learning'
print(phrase)

Statistics sits at the heart of machine learning

In [ ]:
my_first_string[1]

'l'

Strings do not support item assignments

In [ ]:
my_first_string[:3]

'alg'

#### Functions and Methods:

lower() method converts the string to uppercase

In [ ]:
phrase.lower()

'statistics sits at the heart of machine learning'

upper() method converts the string to uppercase

In [ ]:
phrase.upper()

'STATISTICS SITS AT THE HEART OF MACHINE LEARNING'

len returns length of the string

In [ ]:
len(phrase)

48

count counts the total number of given in a string

In [ ]:
phrase.count('si')

1

find() method returns the index of the first occurrence of a string present in a given string

In [ ]:
phrase.find('si')

11

replace() method takes two arguments - (i) the string to replace and (ii) the string to replace with, and returns a modified string after the operation

In [ ]:
print(phrase)

Statistics sits at the heart of machine learning

In [ ]:
phrase.replace('Statistics', 'maths')

'maths sits at the heart of machine learning'

Check if a string contains a particular word or character

In [ ]:
'maths' in phrase

False

##Lists

Lists can be thought of the most general version of a sequence in Python.

Unlike strings, they are mutable, meaning the elements inside a list can be changed!

Lists are constructed with brackets [] and commas separating every element in the list.

In [ ]:
# Assign a list to an variable named my_list
my_list = [1,2,3,4]

In [ ]:
type(my_list)

list

In [ ]:
my_list = ['A string',23,100.232,'o',True]

In [ ]:
# Consider a list of strings
loss_functions = ['Mean Absolute Error','Mean Squared Error','Huber Loss','Log Loss','Hinge Loss']
print(loss_functions)

['Mean Absolute Error', 'Mean Squared Error', 'Huber Loss', 'Log Loss', 'Hinge Loss']

In [ ]:
# Grab the element at index 0, which is the FIRST element
print(loss_functions[0])

Mean Absolute Error

In [ ]:
# lists concatination

loss_functions = loss_functions + ['Root Mean Squared Error']
print(loss_functions)

['Mean Absolute Error', 'Mean Squared Error', 'Huber Loss', 'Log Loss', 'Hinge Loss', 'Root Mean Squared Error']

In [ ]:
loss_functions[::-1]

['Root Mean Squared Error',
 'Log Loss',
 'Huber Loss',
 'Mean Squared Error',
 'Mean Absolute Error']

In [ ]:
# list multiplication:

loss_functions*2

['Mean Absolute Error',
 'Mean Squared Error',
 'Huber Loss',
 'Log Loss',
 'Hinge Loss',
 'Root Mean Squared Error',
 'Mean Absolute Error',
 'Mean Squared Error',
 'Huber Loss',
 'Log Loss',
 'Hinge Loss',
 'Root Mean Squared Error']

### Functions and Methods

len() function returns the length of the list

In [ ]:
len(loss_functions)

6

min() function returns the minimum element of the list

min() function only works with lists of similar data types

In [ ]:
new_list = [6, 9, 1, 3, 5.5]
min(new_list)

1

max() function returns the maximum element of the list

max() function only works with lists of similar data types

In [ ]:
max(new_list)

9

sum() function returns the sum of the elements of the list

sum() function only works with lists of numeric data types

In [ ]:
sum(new_list)

24.5

sorted() function returns the sorted list

sorted() function takes reverse boolean as an argument

sorted() function only works on a list with similar data types

sorted() function does not change our list

In [ ]:
sorted(new_list, reverse=False)

[1, 3, 5.5, 6, 9]

Use the append() method to permanently add an item to the end of a list.

append() method takes the element which you want to add to the list as an argument

In [ ]:
print(new_list)
new_list.append('come on')
print(new_list)

[6, 9, 1, 3, 5.5]
[6, 9, 1, 3, 5.5, 'come on']

In [ ]:
new_list.append([1,2,3])
print(new_list)

[6, 9, 1, 3, 5.5, 'come on', [1, 2, 3]]

Use the extend() method to merge a list to an existing list

extend() method takes a list or any iterable as an argument.

In [ ]:
new_list.extend([7,8,9])
print(new_list)

[6, 9, 1, 3, 5.5, 'come on', [1, 2, 3], 7, 8, 9]

Use pop() to "pop off" an item from the list.

By default pop() takes off the element at the last index, but you can also specify which index to pop off.

pop() takes the index as an argument and returns the elenent which was popped off.

In [ ]:
new_list.pop()
print(new_list)

[6, 9, 1, 3, 5.5, 'come on', [1, 2, 3], 7]

In [ ]:
new_list.pop(0)
print(new_list)

[9, 1, 3, 5.5, 'come on', [1, 2, 3], 7]

Use remove() to remove an item/element from the list.

By default remove() removes the specified element from the list.

remove() takes the element as an argument.

In [ ]:
new_list.remove('come on')
print(new_list)

[9, 1, 3, 5.5, [1, 2, 3], 7]

In [ ]:
new_list.remove([1,2,3])
print(new_list)

[9, 1, 3, 5.5, 7]

The count() method returns the total occurrence of a specified element in the list

In [ ]:
new_list.count(5.5)

1

The index() method returns the index of a specified element.

In [ ]:
my_list = [1, 2, 3, 1, 1, 1, 3, 10, 5, 8, 'Append me!', 2.73, 'Wubba']
my_list.index('Wubba')

12

In [ ]:
my_list.index(2.73)

11

Use sort() to sort the list in either ascending/descending order

The sorting is done in ascending order by default

sort() method takes the reverse boolean as an argument

sort() method only works on a list with elements of same data type

In [ ]:
new_list = [6, 9, 1, 3, 5]

new_list.sort()
print(new_list)

[1, 3, 5, 6, 9]

reverse() method reverses the list

In [ ]:
new_list.reverse()
print(new_list)

[9, 6, 5, 3, 1]

In [ ]:
# Nested List i.e. List of Lists

# Let's make three lists
lst_1=[1,2,3]
lst_2=['b','a','d']
lst_3=[7,8,9]

# Make a list of lists to form a matrix
list_of_lists = [lst_1,lst_2,lst_3]

print(list_of_lists)

[[1, 2, 3], ['b', 'a', 'd'], [7, 8, 9]]

In [ ]:
# indexing in nested list:

list_of_lists[1][1]

'a'

## Tuples

In Python tuples are very similar to lists, however, unlike lists they are immutable meaning they can not be changed.

You would use tuples to present things that shouldn't be changed, such as days of the week, or dates on a calendar.

In [ ]:
# Create a tuple
my_tuple = (1,'a',3)
my_tuple

(1, 'a', 3)

In [ ]:
# create empty tuple

empty_tuple = ()

In [ ]:
empty_tuple

()

In [ ]:
# indexing

my_tuple[1]

'a'

In [ ]:
# tupe_of_tuple

tupe_of_tuple = ((1,2),(3,4))
print(tupe_of_tuple)

((1, 2), (3, 4))

### Functions and Methods

The index() method returns the index of a specified element

In [ ]:
my_tuple.index('a')

1

The count() method returns the total occurrence of a specified element in a tuple

In [ ]:
my_tuple.count(1)

1

In [ ]:
# Immutability

my_tuple[0] = 'change'

TypeError: ignored

Tuple does not support methods such as append(), extend(), remove(), pop()

In [ ]:
# zip() function takes multiple lists/tuples as arguments and zips them together
# This function returns a list of n-paired tuples where n is the number of lists being zipped

city_list = ('Delhi','Patna','Cuttack','Guwahati')
river_list = ('Yamuna','Ganga','Mahanadi','Brahmaputra')

city_river = tuple(zip(city_list, river_list))

print(city_river)

(('Delhi', 'Yamuna'), ('Patna', 'Ganga'), ('Cuttack', 'Mahanadi'), ('Guwahati', 'Brahmaputra'))

## Sets

Sets are an unordered collection of unique elements. We can construct them by using the set() function.

Sets cannot have duplicates.

Sets are mutable just like lists.

You can create a non-empty set with curly braces by specifying elements separated by a comma.

In [ ]:
# Create an empty set
empty_set = set()

In [ ]:
# casting a list for unique elements

list1 = [1,4,5,2,4,6,4,3,5,6,4,3,5,7,6,5,4]

set1 = set(list1)
print(set1)

{1, 2, 3, 4, 5, 6, 7}

In [ ]:
# A set cannot have mutable items
my_set = {1, 2, (3, 4)}

In [ ]:
print(my_set)

{1, 2, (3, 4)}

We cannot have lists as an element in a set.

We can have tuples as an element in a set.

We cannot have set as an element in a set.

In [ ]:
my_set = {1,2, [3,5]}

TypeError: ignored

In [ ]:
my_set = {1,2, (3,5)}

In [ ]:
my_set = {1,2, {3,5}}

TypeError: ignored

In [ ]:
# we can have set with different dtypes

new_set = {1,2,3,'a'}
print(new_set)

{'a', 1, 2, 3}

### Function and Methods

add() method adds an element to a set

This method takes the element to be added as an argument

In [ ]:
print(set1)

set1.add(8)

print(set1)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7, 8}

update() method helps to add multiple elements to a set

In [ ]:
set1.update([9,10,11])
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

Use remove() to remove an item/element from the set.

By default remove() removes the specified element from the set.

remove() takes the element as an argument.

In [ ]:
set1.remove(9)
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 10, 11}

union() method returns the union of two sets

Also denoted by the operator |

In [ ]:
# Initialize sets A and B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
A|B

{1, 2, 3, 4, 5, 6, 7, 8}

intersection() method returns the intersection of two sets

Also denoted by the operator &

In [ ]:
A.intersection(B)

{4, 5}

In [ ]:
A&B

{4, 5}

difference() method returns the difference of two sets

Difference of the set B from set A i.e, (A - B) is a set of elements that are only in A but not in B

Also denoted by the operator -

In [ ]:
A.difference(B)

{1, 2, 3}

In [ ]:
A-B

{1, 2, 3}

symmetric_difference() method returns the set of elements in A and B but not in both (excluding the intersection)

Also denoted by the operator ^

In [ ]:
A.symmetric_difference(B)

{1, 2, 3, 6, 7, 8}

In [ ]:
A^B

{1, 2, 3, 6, 7, 8}

## Dictionary

A Python dictionary consists of a key and then an associated value. That value can be almost any Python object. So a dictionary object always has elements as key-value pairs

A dictionary object is constructed using curly braces {key1:value1,key2:value2,key3:value3}

In [4]:
# Make a dictionary with {} and : to signify a key and a value
marvel_dict = {'Name':'Thor','Place':'Asgard','Weapon' : 'Hammer', 1:2, 3 : 'power', 'alibies' : ['Ironman','Captain America'], 'abc' : {1:2, 4:5}}

In [5]:
# We can call value by it's key:

marvel_dict['Name']

'Thor'

In [6]:
marvel_dict["alibies"][0]

'Ironman'

### Functions and Methods:

keys() method returns the list of keys in the dictionary object

In [7]:
marvel_dict.keys()

dict_keys(['Name', 'Place', 'Weapon', 1, 3, 'alibies', 'abc'])

values() method returns the list of values in the dictionary object

In [10]:
marvel_dict.values()

dict_values(['Thor', 'Asgard', 'Hammer', 2, 'power', ['Ironman', 'Captain America'], {1: 2, 4: 5}])

items() method returns the list of the keys and values (seperated by commas in tuple)

In [11]:
marvel_dict.items()

dict_items([('Name', 'Thor'), ('Place', 'Asgard'), ('Weapon', 'Hammer'), (1, 2), (3, 'power'), ('alibies', ['Ironman', 'Captain America']), ('abc', {1: 2, 4: 5})])

get() method takes the key as an argument and returns None if the key is not found in the dictionary.

We can also set the value to return if a key is not found. This will be passed as the second argument in get()

In [12]:
marvel_dict.get('power','not found')

'not found'

In [13]:
marvel_dict.get('power')

Its important to note that dictionaries are very flexible in the data types they can hold. For example:

In [14]:
employee_dict = {'Name':'Sanket','Skills':['Python','Machine Learning','Deep Learning'],'Band':6.0,'Promotion Year':[2016,2018,2020]}

len() function provides the number of keys or values inside the dictionary

In [15]:
len(marvel_dict)

7

update()

You can add an element which is a key-value pair using the update() method

This method takes a dictionary as an argument

We can also use the update() method to update the existing values for a key

In [18]:
marvel_dict.update({'friend':'hulk'})
marvel_dict

{'Name': 'Thor',
 'Place': 'Asgard',
 'Weapon': 'Hammer',
 1: 2,
 3: 'power',
 'alibies': ['Ironman', 'Captain America'],
 'abc': {1: 2, 4: 5},
 'friend': 'hulk'}

dict()

We can also create dictionary objects from sequence of items which are pairs.

This is done using the dict()method

dict() function takes the list of paired elements as argument

In [20]:
country_list = ['India','Australia','United States','England']
city_list = ['New Delhi', 'Canberra' , 'Washington DC','London']

dict_of_countries = dict(zip(country_list, city_list))

print(dict_of_countries)

{'India': 'New Delhi', 'Australia': 'Canberra', 'United States': 'Washington DC', 'England': 'London'}

pop() method removes and returns an element from a dictionary having the given key.

This method takes two arguments/parameters (i) key - key which is to be searched for removal, (ii) default - value which is to be returned when the key is not in the dictionary

In [22]:
dict_of_countries.pop('England')

'London'

In [23]:
dict_of_countries

{'India': 'New Delhi',
 'Australia': 'Canberra',
 'United States': 'Washington DC'}

In [43]:
[(i, j) for i, j in dict_of_countries.items()]

[('India', 'New Delhi'),
 ('Australia', 'Canberra'),
 ('United States', 'Washington DC')]

## for loops

A <code>for</code> loop acts as an iterator in Python; it goes through items that are in a *sequence* or any other iterable item. Iterable is an object, which one can iterate over. Objects that we've learned about that we can iterate over include strings, lists, tuples, and even built-in iterables for dictionaries, such as keys or values.

Here's the general format for a <code>for</code> loop in Python:

    for item in object:
        statements to do stuff

In [24]:
# Consider a list of strings

got_houses = ['Stark', 'Arryn', 'Baratheon', 'Tully', 'Greyjoy', 'Lannister', 'Tyrell', 'Martell', 'Targaryen']

for i in got_houses:
  print(i)

Stark
Arryn
Baratheon
Tully
Greyjoy
Lannister
Tyrell
Martell
Targaryen

Another interesting way to loop through the elements of a list is to use the enumerate() function. Using enumerate requires us two iterators index and element

In [25]:
got_houses = ['Stark', 'Arryn', 'Baratheon', 'Tully', 'Greyjoy', 'Lannister', 'Tyrell', 'Martell', 'Targaryen']

for i, j in enumerate(got_houses):
  print(i, j)

0 Stark
1 Arryn
2 Baratheon
3 Tully
4 Greyjoy
5 Lannister
6 Tyrell
7 Martell
8 Targaryen

range() function is a pretty useful function to get a sequence of numbers. It takes three arguments : start, stop, step

In [26]:
# Let us first print the squares
for number in range(0,10,2):
  squared_number = number**2
  print(f"The square of {number} is {squared_number}")

The square of 0 is 0
The square of 2 is 4
The square of 4 is 16
The square of 6 is 36
The square of 8 is 64

## <u>While Loops </u>

### The <code>while</code> statement in Python is one of the most general ways to perform iteration. A <code>while</code> statement will repeatedly execute a single statement or group of statements as long as the condition is true. The reason it is called a 'loop' is because the code statements are looped through over and over again until the condition is no longer met.

### The general format of a while loop is:

    while test:
        code statements
    else:
        final code statements

### Lets look at a few simple <code>while</code> loops in action.

In [27]:
x = 0

while x < 10:
  print('x is currently: ',x)
  print('x is still less than 10, adding 1 to x')
  x=x+1

x is currently:  0
x is still less than 10, adding 1 to x
x is currently:  1
x is still less than 10, adding 1 to x
x is currently:  2
x is still less than 10, adding 1 to x
x is currently:  3
x is still less than 10, adding 1 to x
x is currently:  4
x is still less than 10, adding 1 to x
x is currently:  5
x is still less than 10, adding 1 to x
x is currently:  6
x is still less than 10, adding 1 to x
x is currently:  7
x is still less than 10, adding 1 to x
x is currently:  8
x is still less than 10, adding 1 to x
x is currently:  9
x is still less than 10, adding 1 to x

## break, continue, pass

### We can use <code>break</code>, <code>continue</code>, and <code>pass</code> statements in our loops to add additional functionality for various cases. The three statements are defined by:

    break: Breaks out of the current closest enclosing loop.
    continue: Goes to the top of the closest enclosing loop.
    pass: Does nothing at all.
    
    
### Thinking about <code>break</code> and <code>continue</code> statements, the general format of the <code>while</code> loop looks like this:

    while test:
        code statement
        if test:
            break
        if test:
            continue
    else:

### <code>break</code> and <code>continue</code> statements can appear anywhere inside the loops body, but we will usually put them further nested in conjunction with an <code>if</code> statement to perform an action based on some condition.

In [30]:
x = 0

while x < 10:
  print('x is currently: ',x)
  print(' x is still less than 10, adding 1 to x')
  x+=1
  if x==3:
    print('x==3')
    break
  else:
    print('continuing...')
    continue

x is currently:  0
 x is still less than 10, adding 1 to x
continuing...
x is currently:  1
 x is still less than 10, adding 1 to x
continuing...
x is currently:  2
 x is still less than 10, adding 1 to x
x==3

## List Comprehensions

List comprehensions are a tool for transforming one list (any iterable actually) into another list. During this transformation, elements can be conditionally included in the new list and each element can be transformed as needed.
List comprehensions in Python are great, but mastering them can be tricky because they dont solve a new problem: they just provide a new syntax to solve an existing problem.

In [31]:
# The list of numbers
list_of_numbers = [1, 2, 4, 6, 11, 14, 17, 20]

# Let us first initialize a list where we will be appending the squares in each iteration

squared_numbers = []

for number in list_of_numbers:
  # Use the append method to add the numbers one by one to our list
  squared_numbers.append(number**2)
  # print(squared_numbers)

print(f"The list of squared numbers is {squared_numbers}")

The list of squared numbers is [1, 4, 16, 36, 121, 196, 289, 400]

In [32]:
# Getting the list of squares using list comprehension
squared_numbers = [number**2 for number in list_of_numbers]
print(squared_numbers)

[1, 4, 16, 36, 121, 196, 289, 400]

Suppose we wanted to get the squares of only those numbers which are even

In [36]:
print([number**2 for number in list_of_numbers if number%2==0])

[4, 16, 36, 196, 400]

In [37]:
print([number**2 if number%2==0 else number**5 for number in list_of_numbers])

[1, 4, 16, 36, 161051, 196, 1419857, 400]

**A list comprehension consists of the following parts:**

An Input Sequence.

A Variable representing members of the input sequence.

An Optional Predicate expression.

An Output Expression producing elements of the output list from members of the Input Sequence that satisfy the predicate.